<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>253453091247-bpv9bu4u0fbr0anq91tagnej732ibbh0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253453091247-bpv9bu4u0fbr0anq91tagnej732ibbh0</string>
	<key>API_KEY</key>
	<string>AIzaSyDsEE0nv_tq_UYaVDCGrFp7gC-LyZoSssM</string>
	<key>GCM_SENDER_ID</key>
	<string>253453091247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.capstone</string>
	<key>PROJECT_ID</key>
	<string>capstoneproject-7ce43</string>
	<key>STORAGE_BUCKET</key>
	<string>capstoneproject-7ce43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253453091247:ios:d28c5f3579848789606f5a</string>
</dict>
</plist>